---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=bf23a61c971d7f53d8d1cbd98b37b03e&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=xxxxxxxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":2625,"perpage":1,"total":2625,"photo":[{"id":"51222561064","owner":"115685976@N06","secret":"5515d3a115","server":"65535","farm":66,"title":"I
        keep falling into nothing","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 16 Jun 2021 05:09:14 GMT
[...]
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=bf23a61c971d7f53d8d1cbd98b37b03e&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=51222561064
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"51222561064","secret":"5515d3a115","server":"65535","farm":66,"dateuploaded":"1622718797","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"837832d232","originalformat":"jpg","owner":{"nsid":"115685976@N06","username":"KeiLani
        Velaystar","realname":"","location":null,"iconserver":"65535","iconfarm":66,"path_alias":"keilanivelaystar"},"title":{"_content":"I
        keep falling into nothing"},"description":{"_content":"<a href=\"https:\/\/www.youtube.com\/watch?v=ETt9j2YxF4g\"
        rel=\"noreferrer nofollow\">Mood<\/a>\n<a href=\"https:\/\/keiseclecticcloset.blogspot.com\/2021\/06\/i-keep-falling-into-nothing.html\"
        rel=\"noreferrer nofollow\">Blog<\/a>\n\n__________________________________________________\n\n\nHair:
        <a href=\"http:\/\/maps.secondlife.com\/secondlife\/Secrets\/163\/154\/23\"
        rel=\"noreferrer nofollow\">DOUX<\/a> - Ara hairstyle @ <a href=\"http:\/\/maps.[...]
