---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=Phoenix,%20AZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 16 Jun 2021 04:52:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Phoenix,
        AZ"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Phoenix","adminArea5Type":"City","adminArea4":"Maricopa
        County","adminArea4Type":"County","adminArea3":"AZ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039682","unknownInput":"","type":"s","latLng":{"lat":33.448204,"lng":-112.072585},"displayLatLng":{"lat":33.448204,"lng":-112.072585},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=33.448204,-112.072585|marker-sm-50318A-1&scalebar=true&zoom=12&rand=482461965"}]}]}'
  recorded_at: Wed, 16 Jun 2021 04:52:39 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=33.448204&lon=-112.072585
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.4482,"lon":-112.0726,"timezone":"America/Phoenix","timezone_offset":-25200,"current":{"dt":1623819161,"sunrise":1623759490,"sunset":1623811179,"temp":313.56,"feels_like":311.4,"pressure":1005,"humidity":14,"dew_point":280.92,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":0.89,"wind_deg":196,"wind_gust":1.34,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1623816000,"temp":313.66,"feels_like":311.28,"pressure":1005,"humidity":13,"dew_point":279.92,"uvi":0,"clouds":63,"visibility":10000,"wind_speed":3.77,"wind_deg":108,"wind_gust":6.72,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1623819600,"temp":313.56,"feels_like":311.4,"pressure":1005,"humidity":14,"dew_point":280.92,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":3.14,"wind_deg":135,"wind_gust":7.51,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1623823200,"temp":313.13,"feels_like":311.14,"pressure":1005,"humidity":15,"dew_point":281.6,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":2.75,"wind_deg":88,"wind_gust":6.4,"weather":[{"id":803,"ma[...]
