---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=NKUJeac85nJF3CLwv0WzKq9gJ3ev0X5U&location=Phoenix,%20AZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 14 Jun 2021 04:01:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Phoenix,
        AZ"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Phoenix","adminArea5Type":"City","adminArea4":"Maricopa
        County","adminArea4Type":"County","adminArea3":"AZ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039682","unknownInput":"","type":"s","latLng":{"lat":33.448204,"lng":-112.072585},"displayLatLng":{"lat":33.448204,"lng":-112.072585},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=NKUJeac85nJF3CLwv0WzKq9gJ3ev0X5U&type=map&size=225,160&locations=33.448204,-112.072585|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2068086188"}]}]}'
  recorded_at: Mon, 14 Jun 2021 04:01:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=112a9af33f883216d388ca5eddb32751&exclude=minutely,alerts&lat=33.448204&lon=-112.072585
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.4482,"lon":-112.0726,"timezone":"America/Phoenix","timezone_offset":-25200,"current":{"dt":1623643261,"sunrise":1623586684,"sunset":1623638337,"temp":310.46,"feels_like":307.5,"pressure":1006,"humidity":9,"dew_point":272.41,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":0.89,"wind_deg":292,"wind_gust":1.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1623643200,"temp":310.46,"feels_like":307.5,"pressure":1006,"humidity":9,"dew_point":272.41,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":3.85,"wind_deg":262,"wind_gust":7.07,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1623646800,"temp":310.52,"feels_like":307.49,"pressure":1006,"humidity":8,"dew_point":271.04,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":3.9,"wind_deg":263,"wind_gust":8.08,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1623650400,"temp":310.03,"feels_like":307.03,"pressure":1006,"humidity":7,"dew_point":269.13,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":3.48,"wind_deg":260,"wind_gust":7.33,"weather":[{"id":800,"main":"C[...]
