---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 14 Jun 2021 17:16:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,
        CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1447188952"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-33945324"}]}]}'
  recorded_at: Mon, 14 Jun 2021 17:16:52 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623691013,"sunrise":1623670286,"sunset":1623724156,"temp":302.62,"feels_like":302.05,"pressure":1012,"humidity":38,"dew_point":286.82,"uvi":9.15,"clouds":0,"visibility":10000,"wind_speed":0.89,"wind_deg":164,"wind_gust":1.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1623690000,"temp":302.62,"feels_like":302.05,"pressure":1012,"humidity":38,"dew_point":286.82,"uvi":9.15,"clouds":0,"visibility":10000,"wind_speed":1.73,"wind_deg":108,"wind_gust":1.59,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623693600,"temp":303.51,"feels_like":302.5,"pressure":1012,"humidity":33,"dew_point":285.45,"uvi":11.16,"clouds":0,"visibility":10000,"wind_speed":2.77,"wind_deg":90,"wind_gust":2.39,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1623697200,"temp":305.11,"feels_like":303.51,"pressure":1011,"humidity":26,"dew_point":283.23,"uvi":11.98,"clouds":0,"visibility":10000,"wind_speed":3.47,"wind_deg":73,"wind_gust":2.9,"weather":[{"id":800,"m[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=travel%2B%23%7Blocation%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.996 TT 0 1.014"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 4362,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8504688W",
                    "text": [
                        "/works/OL8504688W",
                        "Mobil Travel Guide",
                        "Coastal Southeast 2007",
                        "Mobil travel guide.",
                        "Southern Great Lakes 2007",
                        "Northwest 2007",
                        "New York 2006",
                        "Boston, 2nd",
                        "New York, 2004 (Mobil Travel Guides (Includes All 16 Regiona[...]
